<div class="container">

  <div class="movie-create-block">
    <h1>Mes films</h1>
    <button class="btn-new-movie btn btn-danger modal-btn ml-3">Nouveau film</button>
  </div>

  <div class="modal-bg">
    <div class="modal">
        <%= render 'form_movie', movie: @movie %>
    </div>
  </div>

  <div class="cards">
    <% @movies.each do |movie|%>
      <%= button_to(
            movie_path(movie),
            method: :get,
            class: "btn-stripped"
          )do %>
            <div class="card">
              <h5 class="card-header"><%= movie.title %></h5>
              <div class="card-body">
                <h5 class="card-title"><%= movie.year %></h5>
                 <% if movie.actors.length > 60 %>
                  <p class="card-text"><%= movie.actors[0..60] + "..."  %></p>
                <% else %>
                  <p class="card-text"><%= movie.actors %></p>
                <% end %>
                <div>
                  <p class="delete-content-btn">
                  <%= link_to movie_path(movie),
                    method: :delete, remote: true,
                    data: { confirm: "Souhaitez-vous supprimer ce film ?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
    <% end %>
  </div>
</div>
